# ignore Tracy's scripts
start.sh
cleanup.sh

# ignore our environment config files
# env

# don't let these stupid things in the repo
.DS_STORE
.DS_Store

# ignore mysql data folder
mysql

# ignore logs
data/logs/error_log
data/logs/error.log
data/logs/access.log

# ignore vendor folder
src/php/vendor
src/php/vendor/*
